extends layout
block content
    script(type="text/javascript", src="../javascripts/contact.js")
    div.container.ms-col-width
        p.ms-font-size-30.ms-font-bold#subhead CONTACT US
        p.ms-font-size-20 What is the purpose of your message?
            div.dropdown
                button.btn.btn-default.dropdown-toggle.ms-font-normal(type="button", id="dropdownMenu1", data-toggle="dropdown", aria-expanded="true")= "Make a Selection  "
                    span.caret
                ul(class="dropdown-menu", role="menu", aria-labelledby="dropdownMenu1")
                    li(role="presentation")
                        a.dropdown-select(value='1', role="menuitem", tabindex="-1", href="#")
                            div(value='1') Report a Bug
                    li(role="presentation")
                        a.dropdown-select(value='2', role="menuitem", tabindex="-1", href="#")
                            div(value='2') Support
                    li(role="presentation")
                        a.dropdown-select(value='3', role="menuitem", tabindex="-1", href="#")
                            div(value='3') Make a Suggestion
                    li(role="presentation")
                        a.dropdown-select(value='4', role="menuitem", tabindex="-1", href="#")
                            div(value='4') Just Say Hello
            br
            form
                div.form-group
                    input.ms-text-width(type="email" value= "Your Email Address")#email.form-control.ms-font-size-14
                div.form-group
                    textarea#message.form-control(rows="10").ms-font-size-14.ms-text-width Your Message
                button#submitButton.btn.btn-ms-orange(type="submit").ms-fontsize-14 SEND MESSAGE
            br
            br 
            br
            br 
            br
            br        
