//
   Created by Mike on 2/16/2015.
div.footer.push
    br
    br
    div.container
        div.row
            p
                span
                    a(href='/marchsadness/about') ABOUT
                span= " | "
                span
                    a(href='/marchsadness/blog') BLOG
                span= " | "
                span
                    a(href='/marchsadness/rules') RULES
                span= " | "
                span
                    a(href='/contact') CONTACT
                span= " | "
                if (user)
                    span
                        a(href='users/logout') LOGOUT
                else
                    span
                        a(href='users/login') LOGIN
        div.row
            p © Failure League Inc. 2015
