//
   Created by Mike on 2/16/2015.
div.footer.push
    br
    br
    div.container
        div.row
            p
                span
                    a(href='marchsadness/about') ABOUT
                span= " | "
                span
                    a(href='marchsadness/blog') BLOG
                span= " | "
                span
                    a(href='marchsadness/rules') RULES
                span= " | "
        p © Failure League Inc. 2015
