//
   Created by Mike on 2/16/2015.
div.footer.push
    br
    br
    div.container
        div.row.pull-left
            div
                span
                    a(href='/marchsadness/about') ABOUT
                span= " | "
                span
                    a(href='/marchsadness/blog') BLOG
                span= " | "
                span
                    a(href='/marchsadness/rules') RULES
                span= " | "
                span
                    a(href='/contact') CONTACT
                if(false)
                    span= " | "
                    if (user)
                        span
                            a(href='users/logout') LOGOUT
                    else
                        span
                            a(href='users/login') LOGIN
            div © Failure League Inc. 2015
        div.row.pull-right
            span
                a(href="https://twitter.com/failureleague")
                    img.ms-footer-icon(src="../../../images/twitterIcon.png")
            span
                a(href="https://tumblr.com/failureleagueblog")
                    img.ms-footer-icon(src="../../../images/tumblrIcon.png")
