extends layout

block content
  div(class="jumbotron")
    div(class="container")
      h1= title
      p Welcome to Failure League! We're working on bringing you a new way to play fantasy football. Check back for updates.
      //p
      //  a(class="btn btn-primary btn-lg", href="#", role="button") Email me with more information
