link(rel='stylesheet', href='../../stylesheets/msNavbar.css')
link(rel='stylesheet', href='../../stylesheets/msStyles.css')
div.ms-navbar-container
    div.ms-navbar-skew
        nav.navbar.ms-background-white
            div.ms-navbar
                div.container-fluid
                    div.navbar-header
                        a(href="/")
                            img(src='../../images/logo.png').ms-logo
                    div.collapse.navbar-collapse
                        ul.nav.navbar-nav
                            li#about.navbar-brand(style="margin-top: 2%")
                                a.ms-text-black(href="/about") About
                            li#blog.navbar-brand(style="margin-top: 2%")
                                a.ms-text-black(href="/blog") Blogs
                            li#rules.navbar-brand(style="margin-top: 2%")
                                a.ms-text-black(href="/marchsadness/Rules") Rules
                        ul.nav.navbar-nav.pull-right.ms-navbar-right
                            if (user && user.isAdmin)
                                li.navbar-brand
                                    a(href="/marchsadness/admin") Admin
                            if (user)
                                li
                                    a(href="/marchsadness/index")
                                        img(src='../../images/basketballIcon.png').ms-navbar-icon
                                li
                                    a(href="/users/profile")
                                        img(src='../../images/gearIcon.png').ms-navbar-icon
                            if (user)
                                li.navbar-brand
                                    a.ms-text-black(href="/users/logout") Logout
                            if (!user)
                                li.navbar-brand
                                    a.ms-text-black(href="/users/login") Login Here
div#ms-navbar-angle-line-test-yellow= ""
div#ms-navbar-angle-line-test-orange= ""
