link(rel='stylesheet', href='../../stylesheets/msNavbar.css')
link(rel='stylesheet', href='../../stylesheets/msStyles.css')
div.ms-navbar-container
    div.ms-navbar-skew.ms-background-white
        div.ms-navbar
            div.container.ms-navbar-inner-container
                div.h3.ms-font-bold.ms-navbar-cell
                    div.ms-navbar-logo
                        a(href="/")
                            img(src='../../images/logo.png').ms-logo
                    div.ms-navbar-cell#about(style="margin-top: 2%")
                        a.ms-text-black(href="/marchsadness/about") About
                    div.ms-navbar-cell#blog(style="margin-top: 2%")
                        a.ms-text-black(href="/marchsadness/blog") Blogs
                    div.ms-navbar-cell#rules(style="margin-top: 2%")
                        a.ms-text-black(href="/marchsadness/Rules") Rules
                div.h3.ms-font-bold.ms-navbar-cell.ms-navbar-right
                    if (user && user.isAdmin)
                        div.ms-navbar-cell
                            a(href="/marchsadness/admin") Admin
                    if (user)
                        div.ms-navbar-cell
                            a(href="/marchsadness/index")
                                img(src='../../images/basketballIcon.png').ms-navbar-icon
                        div.ms-navbar-cell
                            a(href="/users/profile")
                                img(src='../../images/gearIcon.png').ms-navbar-icon
                    if (user)
                        div.ms-navbar-cell
                            a.ms-text-black(href="/users/logout") Logout
                    if (!user)
                        div.ms-navbar-cell
                            a.ms-text-black(href="/users/login") Login Here
div#ms-navbar-angle-line-test-yellow= ""
div#ms-navbar-angle-line-test-orange= ""