.ms-navbar-skew {
    -webkit-transform: skewY(-2deg);
    -moz-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    -o-transform: skewY(-2deg);
    transform: skewY(-2deg);
    background-color: #ffffff;
}

.ms-navbar-width-limit {
    max-width: 738px;
    float: left;
}

.ms-navbar {
    -webkit-transform: skewY(2deg);
    -moz-transform: skewY(2deg);
    -ms-transform: skewY(2deg);
    -o-transform: skewY(2deg);
    transform: skewY(2deg);
    background: #ffffff;
    margin-bottom:20px;
    width: 100%;
}

#ms-navbar-angle-line-test-yellow {
    -webkit-transform: skewY(-2deg);
    -moz-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    -o-transform: skewY(-2deg);
    transform: skewY(-2deg);
    -moz-box-shadow:    inset  0  10px 10px -10px #696868;
    -webkit-box-shadow: inset  0  10px 10px -10px #696868;
    box-shadow:         inset  0  10px 10px -10px #696868;
    min-height: 20px;
    background-color: #FFD912;
    margin-top: -25px;
}
#ms-navbar-angle-line-test-orange {
    -webkit-transform: skewY(-2deg);
    -moz-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    -o-transform: skewY(-2deg);
    transform: skewY(-2deg);
    -moz-box-shadow:    inset  0  10px 10px -10px #696868;
    -webkit-box-shadow: inset  0  10px 10px -10px #696868;
    box-shadow:         inset  0  10px 10px -10px #696868;
    min-height: 20px;
    background-color: #F05928;
}

.ms-navbar-right {
    padding: 0px 100px;
    display:inline-block;
    overflow:hidden;
    float:right;
}

.ms-navbar-icon {
    width: 45px;
    height: 45px;
}

.ms-navbar-inner-container {
    white-space: nowrap;
    min-width: 1000px;
}

.ms-navbar-cell {
    display: inline-block;
    margin-left: 25px;
}

.ms-navbar-logo {
    display: inline-block;
}

