#ms-navbar-angle-line-test-yellow {
    -webkit-transform: skewY(-2.5deg);
    -moz-transform: skewY(-2.5deg);
    -ms-transform: skewY(-2.5deg);
    -o-transform: skewY(-2.5deg);
    transform: skewY(-2.5deg);
    -moz-box-shadow:    inset  0  10px 10px -10px #696868;
    -webkit-box-shadow: inset  0  10px 10px -10px #696868;
    box-shadow:         inset  0  10px 10px -10px #696868;
    min-height: 15px;
    background-color: #FFD912;
    margin-top: -10px;
}
#ms-navbar-angle-line-test-orange {
    -webkit-transform: skewY(-2.5deg);
    -moz-transform: skewY(-2.5deg);
    -ms-transform: skewY(-2.5deg);
    -o-transform: skewY(-2.5deg);
    transform: skewY(-2.5deg);
    -moz-box-shadow:    inset  0  10px 10px -10px #696868;
    -webkit-box-shadow: inset  0  10px 10px -10px #696868;
    box-shadow:         inset  0  10px 10px -10px #696868;
    min-height: 15px;
    background-color: #F05928;
}

.navbar-inner {
    min-width: 1000px;
}

.ms-logo {
    padding-left: 100px;
    padding-right: 25px;
    margin-top: 15px;
}

.ms-navbar-right {
    padding-right: 100px;
}