

.ms-text-orange {
    color: #F05928;
}

.ms-text-light-orange {
    color: #F7AC93;
}

.ms-text-gray {
    color: #656565;
}

.ms-text-light-gray {
    color: #999999;
}

.ms-text-black {
    color: #000000;
}

.ms-text-yellow {
    color: #FFD912;
}

.ms-background-orange {
    color: #F05928;
}

.ms-background-light-orange {
    background-color: #F7AC93;
}

.ms-background-gray {
    background-color: #656565;
}

.ms-background-light-gray {
    background-color: #999999;
}

.ms-background-black {
    background-color: #000000;
}

.ms-background-yellow {
    background-color: #FFD912;
}

.ms-font-bold {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.ms-font-normal {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}


.ms-font-title {
    font-family: 'Corben', Georgia, Times, serif;
    font-weight: bold;
}

.footer {
    background-color: rgba(255,217,18,0.5);
    height: 255px;
}

.btn-ms-orange {
    color: #ffffff;
    background-color: #F05928;
    border-color: #F05928;
    border-radius: 50px;
}

.btn-ms-orange:hover,
.btn-ms-orange:focus,
.btn-ms-orange:active,
.btn-ms-orange.active,
.open .dropdown-toggle.btn-ms-orange {
    color: #ffffff;
    background-color: #F05928;
    border-color: #F05928;
    border-radius: 50px;
}

.btn-ms-orange:active,
.btn-ms-orange.active,
.open .dropdown-toggle.btn-ms-orange {
    background-image: none;
}

.btn-ms-orange.disabled,
.btn-ms-orange[disabled],
fieldset[disabled] .btn-ms-orange,
.btn-ms-orange.disabled:hover,
.btn-ms-orange[disabled]:hover,
fieldset[disabled] .btn-ms-orange:hover,
.btn-ms-orange.disabled:focus,
.btn-ms-orange[disabled]:focus,
fieldset[disabled] .btn-ms-orange:focus,
.btn-ms-orange.disabled:active,
.btn-ms-orange[disabled]:active,
fieldset[disabled] .btn-ms-orange:active,
.btn-ms-orange.disabled.active,
.btn-ms-orange[disabled].active,
fieldset[disabled] .btn-ms-orange.active {
    background-color: #F05928;
    border-color: #F05928;
}

.btn-ms-orange .badge {
    color: #F05928;
    background-color: #ffffff;
}