body::after {
    background-image: url('../images/court-bg.jpg');
    background-size: cover;
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}

a:hover {
    color: #F05928;
	text-decoration: none;
}

a .ms-text-white:hover {
    color: #F05928;
}

html {
    font-family: 'Rambla', sans-serif;
    font-weight: 400;
}

.ms-text-orange {
    color: #F05928;
}

.ms-text-light-orange {
    color: #F7AC93;
}

.ms-text-gray {
    color: #656565;
}

.ms-text-light-gray {
    color: #999999;
}

.ms-text-black {
    color: #000000;
}

.ms-text-yellow {
    color: #FFD912;
}

.ms-text-white {
    color: #FFFFFF;
}

.ms-background-white {
    background-color: #FFFFFF;
}

.ms-background-orange {
    background-color: #F05928;
}

.ms-background-light-orange {
    background-color: #F7AC93;
}

.ms-background-gray {
    background-color: #656565;
}

.ms-background-light-gray {
    background-color: #999999;
}

.ms-background-even-lighter-gray {
    background-color: #f2f2f2;
}

.ms-background-black {
    background-color: #000000;
}

.ms-background-yellow {
    background-color: #FFD912;
}

.ms-font-bold {
	font-family: 'Rambla', sans-serif;
    font-weight: 700;
}
    
.ms-font-italic {
	font-family: 'Rambla', sans-serif;
	font-style: italic;
	font-weight: 400;
}

.ms-font-normal {
	font-family: 'Rambla', sans-serif;
    font-weight: 400;
}

.ms-font-light {
    font-weight: 300;
}

.ms-font-size-30 {
    font-size: 30px;
}

.ms-font-size-20 {
    font-size: 20px;
}

.ms-font-size-14 {
    font-size: 14px;
}

.ms-font-title {
    font-family: 'Corben', Georgia, Times, serif;
    font-weight: bold;
}

.footer {
    background-color: rgba(255,217,18,0.5);
    box-shadow: 0px 500px 0px 500px rgba(255,217,18,0.5);
}

.ms-footer-push {
    min-height: 500px;
}

.btn-ms-orange {
    color: #ffffff;
    background-color: #F05928;
    border-color: #F05928;
    border-radius: 50px;
}

.btn-ms-orange:hover,
{
	background-color: #656565;
}
.btn-ms-orange:focus,
.btn-ms-orange:active,
.btn-ms-orange.active,
.open .dropdown-toggle.btn-ms-orange {
    color: #ffffff;
    background-color: #F05928;
    border-color: #F05928;
    border-radius: 50px;
}

.btn-ms-orange:active,
.btn-ms-orange.active,
.open .dropdown-toggle.btn-ms-orange {
    background-image: none;
}

.btn-ms-orange.disabled,
.btn-ms-orange[disabled],
fieldset[disabled] .btn-ms-orange,
.btn-ms-orange.disabled:hover,
.btn-ms-orange[disabled]:hover,
fieldset[disabled] .btn-ms-orange:hover,
.btn-ms-orange.disabled:focus,
.btn-ms-orange[disabled]:focus,
fieldset[disabled] .btn-ms-orange:focus,
.btn-ms-orange.disabled:active,
.btn-ms-orange[disabled]:active,
fieldset[disabled] .btn-ms-orange:active,
.btn-ms-orange.disabled.active,
.btn-ms-orange[disabled].active,
fieldset[disabled] .btn-ms-orange.active {
    background-color: #F05928;
    border-color: #F05928;
}

.btn-ms-orange .badge {
    color: #F05928;
    background-color: #ffffff;
}

.ms-grey-line {
    border-bottom: #656565 solid 1px;
}

.ms-grey-line-top {
    border-top: #656565 solid 1px;
}
.teamViewIcon {
    width: 44px;
    height: 40px;
    margin-right: 15px;
}

.deleteTeam:hover {
    cursor: pointer;
    cursor: hand;
}

.ms-leftnav-title {
    border-top: #ffffff solid 1px;
    border-bottom: #ffffff solid 1px;
}

.ms-leftnav-buffer {
    min-height: 10px;
    padding-right: 15px;
}

.ms-wrap-text {
    word-wrap: break-word;
}

.more-gutter {
    padding-right: 50px;
}

.ms-text-input {
    border: #656565 solid 1px;
    border-radius: 0px;
}

.ms-tagline {
    width: 100%
}

.ms-single-team-table {
    margin: 0 auto;
    width: 90%;
    background-color:white;
    padding: 20px;
    z-index: 10;
}

.ms-single-team-table-tab {
    border-top: #656565 solid 1px;
}

.ms-single-team-table td, th {
    padding: 10px;
    height: 55px;
}

.ms-single-team-table th {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;	
}

.ms-single-team-table tr {
    height: 40px;
}

.ms-single-league-table {
    width: 100%;
    background-color:white;
    border-left: #fff solid 40px;
    border-right: #fff solid 40px;
    border-bottom: #fff solid 40px;
    z-index: 10;
}

.ms-single-league-table-tab {
    border-top: #656565 solid 1px;
}

.ms-single-league-table td, th {
    padding: 10px;
}

.ms-single-league-table th {

	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;	
}


.ms-single-league-table tr {
    height: 40px;
}

.ms-text-width {
	width: 800px;
}

.ms-form-width {
	width: 300px;
}

.ms-colwidth-lite {
	width: 55%;
	padding: 0px;
	margin-left: 0px;
	
	}

#tabs {
    background: transparent;
    border: none;
}

#roundTabs {
    background: transparent;
    border: none;
    margin-top: 10px;
    border-bottom: #999999 solid 1px;
}

.ui-tabs .ui-tabs-panel {
    padding: 0px;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: none;
}

#sadnessScore {
    margin-top: 35px;
    margin-right: 15px;
    margin-bottom: 0px;
}

.ms-leftnav-body {
    padding: 0px 15px;
}

.ms-leftnav-title {
    margin: 0px -15px;
}

.ms-leauge-table-container {
    padding: 40px;
}


.ms-ballotname-padding
{
	padding: 10px;
	padding-bottom: 0px;
}

.ms-ballotname-margin
{
	margin-top: 15px;
	margin-bottom: 5px;
}

.ms-ballotinput-margin
{
	margin-top: 15px;
}

.ms-nospace{
	padding: 0px;
	margin: 0px;
}

.ms-footer-icon {
    width: 50px;
}

#subhead {
	line-height: .2;
}

#bodyleading {
	
	line-height: 1.5;
}

.ms-create-ballot-width {
    width: 300px;
}

.ms-inline-block {
    display: inline-block;
    padding-right: 15px;
}

.ms-add-ballot-to-league-button {
    margin-right: 15px;
}
