extends ../marchsadnesslayout
block content
    script(src="../../javascripts/marchSadness/users/addTeamToLeague.js")
    div(class="container")
        div.text-center
            br
            h2
                span.fa.fa-lock= 'Add a team to ' + league.name
        div.container
            div.row
                div.table-responsive
                    table.table.table-striped
                        thead
                            tr
                                th Team
                        tbody
                            each team in teams
                                tr
                                    td.h3= team.name
                                    td
                                        if (team.leagues.indexOf(league._id) === -1)
                                            button.btn.btn-default.btn-sm.btn-success.AddTeam(value= league._id + '/' + team._id) Add This Team
                                        else
                                            p Already a Member

