extends ../marchsadnesslayout
block content
    script(src="../../javascripts/marchSadness/users/addTeamToLeague.js")
    div.ms-font-size-30.ms-font-bold CHOOSE A BALLOT TO ADD
    br
    div.row
        div.table-responsive.ms-font-normal
            table.table
                tbody.ms-grey-line-top
                    each ballot in ballots
                        tr.ms-grey-line
                            td
                                if (ballot.leagues.indexOf(league._id) === -1)
                                    span.ms-add-ballot-to-league-button
                                        button.btn.btn-sm.btn-ms-orange.AddTeam.ms-font-bold(value= league._id + '/' + ballot._id) ADD
                                span.ms-font-size-20.ms-font-bold= ballot.name
                            td.ms-font-size-20= "Score: " + ballot.totalScore
        div#startNewBallot
            div.ms-inline-block
                button#showNewBallot.btn.btn-ms-orange.ms-font-size-14(value="Create a Ballot") +
            div.ms-inline-block
                div START A NEW BALLOT
        form#newBallotForm(action="/marchsadness/createnewteam", method="post")
            div.form-group
                div.ms-inline-block
                    input.ms-font-size-14.ms-font-normal.ms-create-ballot-width(type="text", class="form-control", name="teamname", value="Name Your Ballot")
                div.ms-inline-block
                    button.btn.btn-ms-orange( type="submit", onComplete="window.location.reload(true);") ADD