extends ../marchsadnesslayout
block content
    script(src="../../javascripts/marchSadness/users/joinLeagueGeneric.js")
    div.row.ms-font-bold
        div.col-xs-1
        div.col-xs-11
            h2
                u Join a League
            h3 Enter the ID and password for the league you would like to join.
            h3 Your friend probably sent it to you in an email. Check there!
    div.row.ms-font-bold
        div.col-xs-1
        div.col-xs-4
            input#leagueId.form-control.ms-text-input(type="text" name="leagueId" default="League ID")
            br
            input#leaguePassword.form-control.ms-text-input(type="text" name="leaguePassword")
            br
            button#submit.btn.btn-ms-orange Join
        div.col-xs-8
