extends ../marchsadnesslayout
block content
    script(src="../../javascripts/marchSadness/users/joinLeagueGeneric.js")
    div.container.ms-footer-push
        p.ms-font-size-30.ms-font-bold JOIN A LEAGUE
        p.ms-font-size-20.ms-font-bold#subhead  Enter the ID and password for the league you would like to join.
        p.ms-font-size-20.ms-font-bold  Your friend probably sent it to you in an email. Check there!
        div.ms-form-width.ms-left-margin-0
            input#leagueId.form-control(type="text" name="leagueId" default="League ID")
            br
            input#leaguePassword.form-control(type="password" name="leaguePassword")
            br
            button#submit.btn.btn-ms-orange.ms-font-size-14 JOIN
  