extends ../marchsadnesslayout
block content
    script(src="../../javascripts/marchSadness/users/viewMyTeams.js")
    div(class="container")
        div.jumbotron.text-center
            br
            h1
                span.fa.fa-lock My Teams
            a(href="/marchsadness/viewmyteams", class="btn btn-default")
                span(class="fa fa-user") View My Teams
        if (team.owner.id === user.id)
            h2= team.name
            h3= 'Total Score = ' + team.totalScore
            div.table-responsive
                table.table
                    thead
                        tr
                            th Round
                            th Team Name
                            th Score
                    tbody
                        each round, index in team.rounds
                            tr.h3
                                td= index
                                td= round.team1.teamName
                                td
                                    button.deleteTeam.btn.btn-danger.btn-xs(value= team._id) Delete
        else
            div.container
                div.row
                    p You are not the owner of this team.
