extends ../marchsadnesslayout
block content
    script(src="../../javascripts/marchSadness/users/viewMyTeams.js")
    div.container
        div.row
                span.fa.fa-lock Ballots
            a(href="/marchsadness/viewmyteams", class="btn btn-default")
                span(class="fa fa-user") View My Teams
        if (team.owner.id === user.id)
            p.ms-font-size-20= team.name
            p.ms-font-size-20= 'Total Score = ' + team.totalScore
            div.table-responsive
                table.table
                    thead
                        tr
                            th Round
                            th Team Name
                            th Score
                    tbody
                        each round, index in team.rounds
                            tr.ms-font-normal
                                td= index
                                td= round.team1.teamName
                                td
                                    button.deleteTeam.btn.btn-danger.btn-xs(value= team._id) Delete
        else
            div.container
                div.row
                    p You are not the owner of this team.
