script(src="../../javascripts/marchSadness/users/viewMyTeams.js")
div.jumbotron.text-center
    br
    h1
        span.fa.fa-lock= user.firstName + "'s Teams"
    a(href="/marchsadness/createnewteam", class="btn btn-default")
        span(class="fa fa-user") Create a Team
div.table-responsive
    table.table
        thead
            tr
                th Team
                th Score
        tbody
            each team, index in teams
                tr.h3
                    td
                        a(href="/marchsadness/viewSingleTeam/" + team._id)
                            span= team.name
                    td= team.totalScore
                    td
                        button.deleteTeam.btn.btn-danger.btn-xs(value= team._id) Delete
