extends ../layout
block content
    script(src="../../javascripts/marchsadness/rules.js")
    div.container
        div.row.h1.text-center About March Sadness
        div.row
            p Workin on it!