extends ../layout
block content
    script(src="../../javascripts/marchSadness/about.js")
    div.container.ms-font-normal
        p.ms-font-size-30.ms-font-bold About March Sadness
        p.ms-font-size-20.ms-text-width March Sadness is a silly game where you pick teams in the NCAA basketball tournament and then hope they miss a lot of shots. We made it because we think fantasy sports games are fun and there should be more ways to play them besides the tried and true standards. It's not meant to be mean spirited or to make anyone feel bad. We like to think of it as a way to recognize the 63 teams that enter the tournament each year and don't win.  If you head over to the blog, you can even read about some of our favorite not-quite-good-enough teams. Above all, March Sadness is meant to be fun, so we hope you'll sign up, invite a few friends to your league, and enjoy the tournament in a new way this year.
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br