extends ../layout
block content
    script(src="../../javascripts/marchSadness/about.js")
    link(href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,700,300,400', rel='stylesheet', type='text/css')
    div.container
        div.row.h1.text-center.ms-font-normal About March Sadness
        div.row
            p Workin on it!