block variables
  - title = "Blog"
extends ../layout
block content
    script(src="../../javascripts/marchsadness/blog.js")
    div.container
        a(href="/marchsadness/blog")
            p.ms-font-size-30.ms-font-bold#subhead The March Sadness Blog
        div.ms-font-size-20.ms-font-italic.ms-text-gray Stories of Lovable Losers
        br
        br
        include blog
        if (previous !== "")
            span.ms-right-margin-15
                a(href="/marchsadness/blog/" + previous)
                    button.btn.btn-ms-orange PREVIOUS
        if (next !== "")
            span
                a(href="/marchsadness/blog/" + next)
                    button.btn.btn-ms-orange NEXT
        br
        br

