//
   Created by Mike on 2/15/2015.
div.container
    each post, index in blogPosts
        div.row
            h1= post.title
            div
                b= "By: " + post.author
                p= post.timestamp
            div!= post.body