//
   Created by Mike on 2/15/2015.
div.container
    each post, index in blogPosts
        div.row
            h2= post.title
            p= "By: " + post.author + ' ' + post.timestamp
            div!= post.body