extends ../layout
block content
    script(src="../../javascripts/marchsadness/blog.js")
    div.container
            p.ms-font-size-30.ms-font-bold#subhead The March Sadness Blog
            div.ms-font-size-20.ms-font-italic.ms-text-gray Stories of Lovable Losers
            br
            br
            include blog