block variables
  - title = "Create New Team"
extends marchsadnesslayout
block content
    script(src="../../../javascripts/marchSadness/users/createNewTeam.js")
    div(class="jumbotron")
        div(class="container")
            div.col-sm-8.col-sm-offset-2
                h1
                    span.fa.fa-sign-in Create a New Team
                <!-- NEW TEAM FORM -->
                form#newTeamForm(action="/marchsadness/createnewteam", method="post")
                    div.form-group
                        label Team Name
                        input(type="text", class="form-control", name="teamname")
                    button( type="submit", class="btn btn-warning btn-lg" onClick="window.location='/marchsadness/viewmyteams';") Submit
                hr