block variables
  - title = "Create New League"
extends marchsadnesslayout
block content
    script(src="../../javascripts/marchSadness/users/createNewLeague.js")
    div.container
        p.ms-font-size-30.ms-font-bold CREATE A LEAGUE
        p.ms-font-size-20.ms-font-bold Invite your friends to the sadness. Pick a league name and password, then send it to everyone you know.
    div.row.ms-colwidth-lite
            br
            form#newTeamForm(action="/marchsadness/createnewleague", method="post")  
                div.form-group
                    input#leagueName(type="text", class="form-control", name="leaguename")
                div.form-group
                    input#leaguePassword(type="password", class="form-control", name="password")
                button( type="submit", class="btn btn-ms-orange" onClick="window.location='/marchsadness/index';") START LEAGUE
        
