extends marchsadnesslayout
block content
    script(src="../../../javascripts/marchSadness/users/createNewLeague.js")
    div(class="jumbotron")
        div(class="container")
            div.col-sm-8.col-sm-offset-2
                h1
                    span.fa.fa-sign-in Create a New Team
                <!-- NEW TEAM FORM -->
                form#newTeamForm(action="/marchsadness/createnewleague", method="post")
                    div.form-group
                        label League Name
                        input(type="text", class="form-control", name="leaguename")
                    div.form-group
                        label League Password
                        input(type="text", class="form-control", name="password")
                        p (other players will be asked to enter this password before joining the league)
                    button( type="submit", class="btn btn-warning btn-lg" onClick="window.location='/marchsadness/viewmyteams';") Submit
                hr