//
   Created by Mike on 2/23/2015.
script(src="../../javascripts/marchSadness/leftNav.js")
div.continter.ms-text-white.text-center.ms-leftnav-container.ms-wrap-text
    div.row.ms-background-light-gray
        div.ms-leftnav-buffer
        div.ms-background-gray.ms-leftnav-title
            h4.text-center BALLOTS
        if (ballots.length > 0)
            for ballot, index in ballots
                br
                div
                    a(href="/marchsadness/viewSingleTeam/" + ballot._id).ms-text-white= ballot.name
        else
            div Create a Ballot
        br
        button#showCreateTeam.btn.btn-ms-orange(type="submit", value="Create a Ballot") +
        form#newTeamForm(action="/marchsadness/createnewteam", method="post")
            div.form-group
                label Team Name
                input(type="text", class="form-control", name="teamname")
            button.btn.btn-ms-orange( type="submit", onComplete="window.location.reload(true);") Submit
        div.ms-leftnav-buffer
    br
    div.row.ms-background-light-gray
        div.ms-leftnav-buffer
        div.ms-background-gray.ms-leftnav-title
            h4 LEAGUES
        if (leagues.length > 0)
            for league, index in leagues
                br
                div
                    a(href="/marchsadness/viewSingleLeague/" + league._id).ms-text-white= league.name
        br
        input.btn.btn-ms-orange(type="submit", value="Create a League", onclick="window.location='/marchsadness/createnewleague';")
        br
        br
        input.btn.btn-ms-orange(type="submit", value="Join a League", onclick="window.location='/marchsadness/joinaleague';")
        div.ms-leftnav-buffer
    br
    br