//
   Created by Mike on 2/23/2015.
div.continter
    div.row
        h3 My Ballots
        if (teams)
            ul
                for team, index in teams
                    li
                        a(href="/marchsadness/viewSingleTeam/" + team._id)= team.name
        else
            input(type="submit" value="Create a Team" onclick="window.location='/marchsadness/createnewteam';")
        hr
        h3 My Leagues
        if (leagues)
            ul
                for league, index in leagues
                    li
                        a(href="/marchsadness/viewSingleLeague/" + league._id)= league.name
        else
            input(type="submit" value="Join a League" onclick="window.location='/marchsadness/joinaleague';")