//
   Created by Mike on 2/23/2015.
div.continter
    div.row
        h3 My Ballots
        if (ballots.length > 0)
            ul
                for ballot, index in ballots
                    li
                        a(href="/marchsadness/viewSingleTeam/" + ballot._id)= ballot.name
        else
            input(type="submit" value="Create a Ballot" onclick="window.location='/marchsadness/createnewteam';")
        hr
        h3 My Leagues
        if (leagues.length > 0)
            ul
                for league, index in leagues
                    li
                        a(href="/marchsadness/viewSingleLeague/" + league._id)= league.name
        else
            input(type="submit" value="Join a League" onclick="window.location='/marchsadness/joinaleague';")