//
   Created by Mike on 2/23/2015.
script(src="../../javascripts/marchSadness/leftNav.js")
div.ms-text-white.text-center.ms-leftnav-container.ms-wrap-text
    div.row.ms-background-light-gray.ms-leftnav-body
        div.ms-leftnav-buffer
        div.ms-background-gray.ms-leftnav-title
            a(href="/marchsadness/index")
                h4.text-center.ms-text-white BALLOTS
        if (ballots.length > 0)
            for ballot, index in ballots
                br
                p.ms-nospace
                    a(href="/marchsadness/viewSingleTeam/" + ballot._id).ms-text-white.ms-font-normal.ms-font-size-20= ballot.name    
        else
        button#showCreateTeam.btn.btn-ms-orange.ms-font-size-14.ms-ballotname-margin(type="submit", value="Create a Ballot") ADD NEW BALLOT
        form#newTeamForm(action="/marchsadness/createnewteam", method="post")
            div.form-group
                input.ms-font-size-14.ms-font-normal.ms-ballotinput-margin(type="text", class="form-control", name="teamname" value="Name Your Ballot")
            button.btn.btn-ms-orange( type="submit", onComplete="window.location.reload(true);") ADD
        div.ms-leftnav-buffer
    br
    div.row.ms-background-light-gray.ms-leftnav-body
        div.ms-leftnav-buffer
        div.ms-background-gray.ms-leftnav-title
            h4 LEAGUES
        if (leagues.length > 0)
            for league, index in leagues
                br
                div
                    a(href="/marchsadness/viewSingleLeague/" + league._id).ms-text-white.ms-font-size-20.ms-font-normal= league.name
        br
        input.btn.btn-ms-orange.ms-ballotname-margin(type="submit", value="CREATE LEAGUE", onclick="window.location='/marchsadness/createnewleague';")
        br
        input.btn.btn-ms-orange(type="submit", value="JOIN LEAGUE", onclick="window.location='/marchsadness/joinaleague';")
        div.ms-leftnav-buffer
    br
    br