extends ../layout
block content
    div.container
        div.row
            div.col-xs-6
                h1 March Sadness is the only NCAA tournament game that glorifies the airball.
                div.ms-font-bold
                    div Pick teams that miss shots.
                    div Win points each round.
                    div Embrace failure.
                br
                br
                a(href="/users/login")
                    button.btn.btn-ms-orange PLAY NOW
            div.col-xs-6
                div
                    img(src='../images/sadguy.png').ms-logo