extends ../layout
block content
    div.container
        div.row
            div.col-xs-6
                img(src="../../images/tagline.png").ms-tagline
                br
                br
                div.ms-font-bold
                    div Pick teams that miss shots.
                    div Win points each round.
                    div Embrace failure.
                br
                if (user)
                    a(href="/marchsadness/joinaleague")
                        button.btn.btn-ms-orange JOIN A LEAGUE
                else
                    a(href="/users/signup")
                        button.btn.btn-ms-orange PLAY NOW
            div.col-xs-6
                div
                    img(src='../images/sadguy.png').ms-logo