extends marchsadnesslayout
block content
    div(class="container")
        div.jumbotron.text-center
            br
            h1
                span.fa.fa-lock Login or Signup
            p Login or Register with:
            a(href="/users/login", class="btn btn-default")
                span.fa.fa-user Local Login
            a(href="/users/signup", class="btn btn-default")
                span(class="fa fa-user") Local Signup