nav(class="navbar navbar-inverse navbar-fixed-top")
    div(class="container")
        div.navbar.navbar-fixed-top
            div.navbar-inner
                div.container
                    ul.nav.navbar-nav
                        li.active
                            a.navbar-brand(href="/") Failure League
                        li
                            a(href="/marchsadness") March Sadness Home
                    ul.nav.navbar-nav.pull-right
                        if (user && user.isAdmin)
                            li
                                a(href="/marchsadness/admin/updateNames") Admin
                        if (!user)
                            li
                                a(href="/users/login") Login Here
                        if (user)
                            li
                                a(href="/users/logout") Logout
<!--/.nav-collapse -->