block variables
  - title = "Create New League"
extends marchsadnesslayout
block content
    div.container
        p.ms-font-size-30.ms-font-bold START A LEAGUE
        p.ms-font-size-20.ms-font-bold Thanks for starting a league!
        p.ms-font-size-20.ms-font-bold= "Your league ID is: " + leagueId
        
        p.ms-font-size-20 Send this code and the password to your friends so they can join. <BR> Your code is always available on your league homepage in case you forget it. <BR>
        button.btn.btn-ms-orange(onClick='location.href = "/marchsadness/viewSingleLeague/' + leagueId + '";') VIEW LEAGUE PAGE