extends msAdminLayout
block content
    script(src="/javascripts/marchSadness/admin/updateNames.js")
    div(class="jumbotron")
        div(class="container")
            div(class="row")
                div(class="col-xs-12")
                    h1.text-center Admin Home
    div.container
        div.row
            h2.col-xs-12.text-center From here you can...
            div.col-xs-4
                div.row
                    ul
                        li
                            a(href="/marchSadness/admin/updateNames")
                                h3 Update NCAA Team Names
                        li
                            a(href="/marchsadness/admin/updateTeamScores")
                                h3 Update NCAA Team Scores
                        li
                            a(href="/marchsadness/admin/markRoundsAsStarted")
                                h3 Mark Rounds as Started
            div.col-xs-4
            div.col-xs-4
                div.row
                    ul
                        li
                            a(href="/marchSadness/admin/manageBlog")
                                h3 Manage Blog
                        li
                            a(href="#")
                                h3 New Blog Post