extends msAdminLayout
block content
    body
        link(rel='stylesheet', href='/stylesheets/jquery-te-1.4.0.css')
        script(src="/javascripts/jquery-te-1.4.0.min.js")
        script(src="/javascripts/marchSadness/admin/blogPost.js")
        div(class="jumbotron")
            div(class="container")
                div(class="row")
                    div(class="col-xs-12")
                        h1.text-center Blog Post
        div.container
            div.row
                h2.col-xs-12
                    div.row
                        label= 'Title: '
                        if (post)
                            input#title(type="text", value= post.title)
                        else
                            input#title(type="text")
                    div.row
                    if (post)
                        input#textarea(value= post.body)
                    else
                        input#textarea
                    div.row.text-right
                        if (post)
                            button#SubmitButton.btn.btn-default.btn-primary(value=post._id) Submit
                        else
                            button#SubmitButton.btn.btn-default.btn-primary Submit