extends ../../layout
block content
    link(rel='stylesheet', href='/../../stylesheets/kendo/kendo.common.min.css')
    link(rel='stylesheet', href='/../../stylesheets/kendo/kendo.default.min.css')
    link(rel='stylesheet', href='/../../stylesheets/kendo/kendo.dataviz.min.css')
    link(rel='stylesheet', href='/../../stylesheets/kendo/kendo.dataviz.default.min.css')
    link(rel='stylesheet', href='/../../stylesheets/kendo/kendo.dataviz.mobile.min.css')
    script(src="/../../javascripts/jquery.min.js")
    script(src='/../../javascripts/kendo.all.min.js')
    script(src="/javascripts/marchSadness/admin/blogPost.js")
    div(class="jumbotron")
        div(class="container")
            div(class="row")
                div(class="col-xs-12")
                    h1.text-center Blog Post
    div.container
        form#formBlogPost(name="newPost")
            div
                label(for="title") Title
            div.form-group
                if (post)
                    textarea#title.blog-post-input(type="text", rows="3")= post.title
                else
                    textarea#title.blog-post-input(type="text", rows="3")
            div
                label(for="body") Body
            div.form-group
                if (post)
                    textarea#textarea.form-group(rows="30", placeholder="Body", name="body")= post.body
                else
                    textarea#textarea.form-group(rows="30", placeholder="Body", name="body")
            div
                label(for="body") Preview
            div.form-group
                if (post)
                    textarea#inputPreview.blog-post-input.form-group(rows="3", placeholder="Preview", name="preview")= post.preview
                else
                    textarea#inputPreview.blog-post-input.form-group(rows="3", placeholder="Preview", name="preview")
            div
                button#SubmitButton.btn.btn-ms-orange(type="submit") Submit
