extends msAdminLayout
block content
    script(src="/javascripts/marchSadness/admin/updateNames.js")
    div(class="jumbotron")
        div(class="container")
            div(class="row")
                div(class="col-xs-12")
                    h1.text-center Manage Blog
    div.container
        div.row.text-center
            h2.col-xs-12
                div.row
                    table.table.table-striped
                        thead
                            tr.text-left
                                th Title
                                th Author
                                th Timestamp
                        tbody
                            each post in blogPosts
                                tr.text-left
                                    td= post.title
                                    td= post.author
                                    td= post.timestamp
