nav(class="navbar navbar-inverse navbar-fixed-top")
    div(class="container")
        div(class="navbar-header")
            button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
                span(class="sr-only") Toggle navigation
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")
            a(href="/", class="navbar-brand") Failure League
        div(id="navbar", class="collapse navbar-collapse")
            ul(class="nav navbar-nav")
                li
                    a(href="/marchsadness") March Sadness Home
                li
                    a(href="/marchSadness/admin/updateNames") Edit Team Names
                li
                    a(href="/marchsadness/admin/updateTeamScores") Edit Team Scores
            ul.nav.navbar-nav.pull-right
                if (user && user.isAdmin)
                    li
                        a(href="/marchsadness/admin") Admin
                if (!user)
                    li
                        a(href="/users/login") Login Here
                if (user)
                    li
                        a(href="/users/logout") Logout
<!--/.nav-collapse -->