extends ../layout
block content
    div(class="container")
        div.col-sm-6.col-sm-offset-3
            h1
                span.fa.fa-sign-in Forgot Password
            <!-- show any messages that come back with authentication -->
            if (message.length > 0)
                div.alert.alert-danger= message
            <!-- Reset Password FORM -->
            form(action="/users/forgotPassword", method="post")
                p Enter your email address below and you will recieve an email with instructions on how to reset your password.
                div.form-group
                    label Enter Your Email Address
                    input(type="email", class="form-control", name="email")
                button(type="submit", class="btn btn-ms-orange btn-lg") Reset Password
            hr
            p Need an account? <a href="/users/signup">Signup</a>
            p Or go <a href="/marchsadness">home</a>.</p>