extends ../layout
block content
    div.container
        div.ms-text-width
            p.ms-font-size-30.ms-font-bold#subhead Forgot Your Password? 
            div.ms-font-size-20.ms-font-italic.ms-text-gray Don't worry, it happens.
            <!-- show any messages that come back with authentication -->
            if (message.length > 0)
                div.alert.alert-danger= message
            <!-- Reset Password FORM -->
            br
            form(action="/users/forgotPassword", method="post")
                
                div.form-group
                    label.ms-font-size-20.ms-form-width#subhead Email Address
                    p.ms-font-normal Enter your email address below and you will receive an email with instructions on how to reset your password.
                    input.ms-form-width(type="email", class="form-control", name="email")
                button.btn.btn-ms-orange.ms-text-bold.ms-font-size-14(type="submit") RESET PASSWORD
            br
            br    
            div.ms-font-italic Need an account? <a href="/users/signup">Sign Up.</a>
            div.ms-font-italic Or go <a href="/marchsadness">home</a>.</p>
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br