//
   Created by Mike on 1/22/2015.
extends ../layout
block content
    div.container
        p.ms-font-size-30.ms-font-bold#subhead Profile Page
        p.ms-font-size-20.ms-font-italic.ms-text-gray Hey! It's you!
        p.ms-font-normal
            span.ms-font-size-20 First Name:
            span.ms-font-size-20= ' ' + user.firstName
            br
            span.ms-font-size-20 Last Name:
            span.ms-font-size-20= ' ' + user.lastName
            br
            span.ms-font-size-20 Email:
            span.ms-font-size-20= ' ' +user.local.email
            br
            span.ms-font-size-20 Ok To Email?
            span.ms-font-size-20= ' ' + (user.okToEmail ? 'Ok!' : "'Fraid Not")
            br
            br
        a(href="/users/profile/edit")
            div.a.btn.btn-ms-orange EDIT PROFILE
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br