extends ../layout
block content
    script(src="../../../javascripts/users/resetPassword.js")
    div.container.ms-footer-push.ms-col-width
            p.ms-font-size-30.ms-font-bold
            span.fa.fa-sign-in Reset Password
            <!-- show any messages that come back with authentication -->
            if (message.length > 0)
                div.alert.alert-danger= message
            <!-- Reset Password FORM -->
            form
                p.ms-font-size-20.ms-font-bold Enter your new password below.
                div.form-group.ms-form-width
                    input#newPassword(type="password", class="form-control", name="password")
                br
                button.btn.btn-ms-orange.ms-text-bold.ms-font-size-14( type="submit", value= user._id, verification= verification) RESET PASSWORD
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br