extends ../layout
block content
   script(src="../../../public/javascripts/newUser.js")
   div.container.ms-footer-push
       div.col-sm-6.col-sm-offset-3
           h1
               span.fa.fa-sign-in Signup
           <!-- show any messages that come back with authentication -->
           if (message.length > 0)
               div.alert.alert-danger= message
           <!-- LOGIN FORM -->
           form(action="/users/signup", method="post")
               div.form-group
                   label First Name
                   input(type="text", class="form-control", name="firstName", required)
               div.form-group
                   label Last Name
                   input(type="text", class="form-control", name="lastName")
               div.form-group
                   label Email
                   input(type="text", class="form-control", name="email", required)
               div.form-group
                   label Password
                   input(type="password", class="form-control", name="password", required)
               label(for="email") Can we send you email sometimes?
               div
                   input#oktoemail(type="checkbox", name="oktoemail", checked)
                   span= ' Yes'
               br
               button( type="submit", class="btn btn-warning btn-lg") Signup
           p Forgot your password? <a href="/users/forgotPassword">Reset Password</a>
           p Already have an account? <a href="/users/login">Login</a>
           p Or go <a href="/marchsadness">home</a>.