extends ../layout
block content
   script(src="../../../public/javascripts/newUser.js")
   div.container.ms-footer-push.ms-col-width
           p.ms-font-size-30.ms-font-bold
               span.fa.fa-sign-in Sign Up To Play!
           <!-- show any messages that come back with authentication -->
           if (message.length > 0)
               div.alert.alert-danger= message
           <!-- LOGIN FORM -->
           form(action="/users/signup", method="post")
               div.form-group.ms-form-width
                   label.ms-font-size-20 First Name
                   input(type="text", class="form-control", name="firstName", required)
               div.form-group.ms-form-width
                   label.ms-font-size-20 Last Name
                   input(type="text", class="form-control", name="lastName")
               div.form-group.ms-form-width
                   label.ms-font-size-20 Email
                   input(type="text", class="form-control", name="email", required)
               div.form-group.ms-form-width
                   label.ms-font-size-20 Password
                   input(type="password", class="form-control", name="password", required)
               label.ms-font-size-20(for="email") Can we send you email sometimes?
               div
                   input#oktoemail(type="checkbox", name="oktoemail", checked)
                   span= ' Yes'
               br
               button.btn.btn-ms-orange.ms-text-bold.ms-font-size-14( type="submit") SIGNUP
               br
               br
           div.ms-font-italic Forgot your password? <a href="/users/forgotPassword">Reset Password</a>
           div.ms-font-italic Already have an account? <a href="/users/login">Login</a>
           div.ms-font-italic Or go <a href="/marchsadness">home</a>.
               br
               br
               br
               br